<div class="w-full rounded-lg bg-green-400 bg-opacity-25">

  <form action="post" class="p-4 flex justify-between">

    <label for="title" class="mr-2">Title:</label>
    <input type="text" name="title" id="title">

    <label for="amount" class="ml-2 mr-2">Amount:</label>
    <input type="text" name="amount" id="amount">

    <div>
      <label for="toggle" class="mr-2">Subtract</label>
      <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
        <input type="checkbox" name="toggle" id="toggle"
          class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-red-500 border-4 appearance-none cursor-pointer focus:outline-none" />
        <label for="toggle"
          class="toggle-label block overflow-hidden h-6 rounded-full bg-red-500 cursor-pointer"></label>
      </div>
      <label for="toggle" class="">Deposit</label>
    </div>



    <button type="submit">Submit</button>



  </form>


</div>
